body{
    margin: 0px 0 0 0;
    font-family:sans-serif;
    background-color: #212121;
    
}
.conteiner{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.div-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    /* width: 70%; */
    height: 50%;
    border-radius: 13px;
    background-color: white;
    box-shadow: -2px -1px 38px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -1px 38px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 38px -1px rgba(0,0,0,0.75);
    padding: 57px;
    flex-wrap: wrap;
}
.conteiner-datos-envio{
    /* z-index: 10;
    width: 50%; */
    z-index: 10;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.conteiner-metodos-depago{
    z-index: 10;
    width: 50%;
    justify-items: center;
    
}
.butt{
    background-color: #158CBA;
    padding: 10px;
    color: white;
    border-radius: 23px;
    outline: none;
    border: none;
    width: 40%;
    cursor: pointer;
}
.div-container-butt{
    display: flex;
    display: flex;
    justify-content: end;
    height:75%;
    align-items: center;
}
.formulario{
    height: 200px;
}
.div-tjt{
    display: flex;
    height: 50%;
}
.tjt{
    width: 100%;
}